body{
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.all{
    margin:  auto;
    width: 100%;
    height: 85%;
    background-color: gray;

   display: grid;
   grid-template-rows: 1fr;
   grid-gap:10px;
}
.Aa{
    width: 60%;
    height: 20vh;
    background-color: orangered;
     margin: 10px auto;
   padding-top: 10px;
        text-align: center;
     grid-row: 1;
}
    
.Ba{
      width: 60%;
    height: 20vh;
    background-color: yellow;
   margin: 10px auto;
   padding-top: 10px;
     text-align: center;
     grid-row: 2;
}

.Ca{
    width: 60%;
    height: 20vh;
    background-color: blue;
    margin: 10px auto;
   padding-top: 10px;
     text-align: center;
     grid-row: 4;
}

.Da{
    width: 60%;
    height: 20vh;
    background-color: brown;
    margin: 10px auto;
   padding-top: 10px;
     text-align: center;
     grid-row: 3;

}

@media screen   and (min-width:1366px) {
    
    .all{
  

       background-color: red;
       grid-template-columns:1fr 1fr;
       grid-template-rows: auto auto;
        height: 100vh;
    }
    .Aa, .Ba, .Ca, .Da {
        grid-row: auto;
        width: 50%;
        height: 40vh;
    }
}
